@media screen and (min-width: 1200px) {
	.container {
		max-width: 1158px;
	}

	/* -----------HEADER---------- */

	.header-list-adress {
		display: flex;
		gap: 40px;
	}

	.header-link-studio.active::after {
		top: 44px;
	}
	

	.header-link-adress-mail {
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: #434455;
		transition: color var(--time-func);
	}
	.header-link-adress-tel {
		font-weight: 400;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: #434455;
		transition: color var(--time-func);
	}

	
	/* ---------------HERO--------------- */
	.hero {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
	}

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.hero {
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url(../images/hero-bg-desc-2x.jpg);
		}
	}

	.hero-title {
		font-size: 56px;
		line-height: 1.07;
		width: 496px;
	}

	/* ------------FEAUTERS----------- */
	.features {
		padding-top: 120px;
		padding-bottom: 0;
	}
	.features-icon {
		display: block;
	}

	.features-list {
		display: flex;
		flex-wrap: nowrap;
	}

	.features-link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 112px;
		margin-bottom: 8px;
		border-radius: 4px;
		background: #f4f4fd;
	}

	.title-description {
		width: 264px;
	}

	.secondary-features-title {
		font-weight: 500;
		font-size: 20px;
		line-height: 1.2;
		letter-spacing: 0.02em;
		text-align: start;
		width: 264px;
	}

	/* --------WORKS--------- */
	.works {
		display: block;
		padding: 120px 0;
	}

	.works-title {
		font-size: 36px;
		line-height: 1.11;
		text-align: center;
		letter-spacing: 0.02em;
		text-transform: capitalize;
		margin-bottom: 72px;
		color: var(--secondary-title-color);
	}
	.works-list {
		display: flex;
		gap: var(--basic-margin);
	}
	/* ------------TEAM--------------- */
	.team {
		padding-top: 120px;
		padding-bottom: 120px;
	}

	.team-item {
		width: 264px;
	}

	/* -----------CUSTOMERS------------- */
	.customers-list {
		gap: 24px;
	}

	/* ---------FOOTER------------ */
	.footer-link {
		display: flex;
		justify-content: flex-start;
	}

	.footer-container {
		display: flex;
		justify-content: space-between;
	}

	.footer-second {
				margin-top: 0;
	}

	.footer-text-2 {
		display: block;
	}

	.email-send {
		width: 264px;
	}

	.subscribe {
		display: block;
	}

	.subscribe-btn {
		margin-top: 0px;
		
	}

	.email-send-form {
		margin-top: 0;
	}

	.form-input-btn {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	/* ---------PORTFOLIO--------- */

	.links-list {
		display: flex;
		flex-wrap: wrap;
	}

	.filter-btn-list {
		margin-bottom: 72px;
	}

	.links-item {
		width: 360px;
	}
}

@media screen and (min-width: 1200px) {
	.container-sm {
		max-width: 1128px;
	}
}