@media screen and (min-width: 768px) {
	.container {
		max-width: 768px;
	}
	/* ----------MOBILE MENU---------- */
	

	/* ----------HEADER---------- */
	.hero {
		background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-tablet-bg.jpg);
	}

	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
		.hero {
			background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
				url(../images/hero-bg-tablet-2x.jpg);
		}
	}

	.hader-logo {
		margin-right: 76px;
	}

	.modal-menu-btn {
		display: none;
	}

	.header-list {
		display: flex;
		gap: 40px;
	}

	.header-link {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: #2e2f42;
		position: relative;
		transition: color var(--time-func);
	}

	.header-link-studio {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: #404bbf;
		position: relative;
		transition: color var(--time-func);
	}

	.header-link-portfolio {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.02em;
		color: #404bbf;
		position: relative;
		transition: color var(--time-func);
	}
	.header-link:hover,
	.header-link:focus {
		color: #404bbf;
	}

	.header-link-studio.active::after {
		content: "";
		width: 100%;
		height: 4px;
		background-color: #404bbf;
		border-radius: 2px;
		position: absolute;
		left: 0px;
		top: 56px;
	}

	.header-link-portfolio.active::after {
		content: "";
		width: 100%;
		height: 4px;
		background-color: #404bbf;
		border-radius: 2px;
		position: absolute;
		left: 0px;
		top: 44px;
	}

	.header-adress {
		margin-left: auto;
	}
	.header-list-adress {
		font-style: normal;
		display: block;
	}

	.header-container {
		display: flex;
	}
	.header-link-adress-mail {
		font-weight: 400;
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.04em;
		color: #434455;
		transition: color var(--time-func);
	}
	.header-link-adress-tel {
		font-weight: 400;
		font-size: 12px;
		line-height: 1.17;
		letter-spacing: 0.04em;
		color: #434455;
		transition: color var(--time-func);
	}
	.header-link-adress-mail:hover,
	.header-link-adress-mail:focus {
		color: var(--background-btn-color);
	}
	.header-link-adress-tel:hover,
	.header-link-adress-tel:focus {
		color: var(--background-btn-color);
	}
	.header-logo {
		margin-right: 120px;
	}

	/* -------------HERO------------- */
	.hero-title {
		font-size: 56px;
		line-height: 1.07;
		width: 496px;
	}

	/* ------------FEAUTERS----------- */
	.features {
		padding-top: 96px;
		padding-bottom: 96px;
	}

	.features-list {
		display: flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		row-gap: 72px;
		gap: var(--basic-margin);
		flex-direction: initial;
	}

	.title-description {
		width: 356px;
	}

	.secondary-features-title {
		text-align: start;
		width: 264px;
	}

	/* -----------------TEAM--------------- */
	.team {
		padding-top: 96px;
		padding-bottom: 96px;
	}

	.team-item {
		width: 264px;
	}

	.team-list {
		display: flex;
		justify-content: center;
		gap: var(--basic-margin);
	}
	/* -----------CUSTOMERS----------- */
	.customer-list {
		gap: 24px;
	}
	/* ----------------- FOOTER------------- */
	.footer {
		/* padding-left: 108px; */
	}

	.footer-link {
		display: flex;
		justify-content: flex-start;
	}

	.footer-second {
		margin-top: 0;
	}

	.footer-text-2 {
		display: block;
	}

	.container-two-items {
		display: flex;
		gap: var(--basic-margin);
	}

	.container-two-2 {
		display: flex;
		justify-content: center;
	}

	.form-input-btn {
		display: flex;
		align-items: center;
	}

	.subscribe {
		display: block;
	}

	.subscribe-btn {
		margin-top: 0px;
		margin-left: 24px;
	}

	.email-send {
		width: 264px;
	}

	/* --------WORKS--------- */

	/* -----------PORTFOLIO------------- */
	.filter-btn-list {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;

		margin-bottom: 48px;
	}

	.links-item {
		display: flex;
		justify-content: flex-start;
		width: 356px;
	}

	/* ----------MODAL------------- */
	.modal {
		width: 408px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.container-sm {
		max-width: 582px;
	}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.container-xs {
		max-width: 768px;
	}
}
